[Unit]
Description=Manage Java service

[Service]
WorkingDirectory={{ akhq_install_dir }}
ExecStart={{ java_bin }} -Dmicronaut.config.files={{ akhq_config_dir }}/akhq.yml -jar {{ akhq_jar_file }}
Type=simple
Restart=on-failure
RestartSec=10
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
